<!-- src/app/explore/explore.html -->
<div class="explore-page">

  <!-- Category Dropdown -->
  <div class="category-bar">
    <select
      [(ngModel)]="selectedCategory"
      (ngModelChange)="onCategoryChange($event)"
      class="cat-select"
    >
      <option *ngFor="let c of categories" [value]="c.id">{{ c.label }}</option>
    </select>
  </div>

  <!-- Loading / Error -->
  <div class="loading" *ngIf="loading">Loading posts...</div>
  <div class="error" *ngIf="error">{{ error }}</div>

  <!-- Posts Grid -->
  <div class="posts-grid" *ngIf="!loading && posts.length">
    <article class="post-card" *ngFor="let post of posts">
      <header class="post-header">
        <img
          [src]="post.profileImageUrl ||
                 'https://ui-avatars.com/api/?name=' + post.username + '&background=0A66C2&color=fff'"
          [alt]="post.username"
          class="avatar"
          (click)="goToProfile(post.userId)"
        />
        <div class="flex flex-col justify-between">

          <div class="meta">
            <strong (click)="goToProfile(post.userId)" class="clickable">{{ post.username }}</strong>
          </div>
          <div>
            <span class="date">{{ formatDate(post.createdAt) }}</span>
          </div>
        </div>
      </header>

      <div class="post-body">
        <p>{{ post.content }}</p>
        <img *ngIf="post.imageUrl" [src]="post.imageUrl" class="post-img" alt="post image" />
      </div>

      <footer class="post-footer">
        <button
          class="like-btn"
          [class.liked]="post.liked"
          (click)="toggleLike(post)"
        >
          Like {{ post.likesCount }}
        </button>
        <!-- Comment -->
        <button (click)="toggleComments(post)" class="flex items-center gap-1">
            <i class="fa fa-comment"></i>
            Comment <span *ngIf="post.commentsCount">{{ post.commentsCount }}</span>
        </button>
        
        <!-- Comments Section (Only when clicked) -->
    </footer>
    <div  *ngIf="post.showComments" class="mt-4 border-t pt-3">
        <app-comment-list 
        [postId]="post.postId"
        [postOwnerId]="post.userId" 
        (commentsChanged)="updateCommentsCount(post, $event)" ></app-comment-list>
    </div>
    
  

    </article>
  </div>

  <div class="empty" *ngIf="!loading && !posts.length && !error">
    No posts found for this category.
  </div>
</div>