<div class="create-post-card">
  <div class="create-top">
    <img class="avatar" [src]="avatarUrl" alt="avatar" />
    <div class="create-input">
        <div class="relative flex-1">
      <textarea
        [(ngModel)]="content"
        name="content"
        maxlength="1000"
        placeholder="What do you want to talk about?"
        (input)="onContentChange()"
      > 
    </textarea>
    <div class="absolute right-2 bottom-1/2 transform -translate-x-1/2 z-20 ">
      <k4-emoji-picker  [emojiInput$]="emojiInput$"></k4-emoji-picker>
    </div>

</div>

      <div class="meta-row">
        <span class="chars">{{ remainingChars }} characters left</span>
      </div>
    </div>
  </div>

  <div class="create-actions">
    <div class="left-actions">
      <!-- Image URL -->
      <div class="action-field">
        <input type="text" [(ngModel)]="imageUrl" name="imageUrl" placeholder="Image URL (optional)" (input)="onImageUrlChange()" />
      </div>

      <!-- Or file upload -->
      <!-- <label class="upload-btn">
        <input type="file" accept="image/*" (change)="onFileSelected($event)" />
        <svg viewBox="0 0 24 24" class="icon" aria-hidden="true">
          <path d="M5 20h14v-2H5v2zm7-18L5.33 9h3.67v6h6V9h3.67L12 2z"></path>
        </svg>
        Add image
      </label>
    </div> -->

    <div class="right-actions">
      <button class="post-btn" [disabled]="!canPost()" (click)="onSubmit()">Post</button>
    </div>
  </div>

  <div class="image-preview" *ngIf="previewUrl">
    <img [src]="previewUrl" alt="preview" />
    <button class="remove-preview" (click)="clearImage()">✕</button>
  </div>
</div>
